import pyodbc 
import pandas as pd
import numpy as np

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-4UHHSRG\SQLEXPRESS;'  
                      'Database=master;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM Dados4')

columns = [i[0] for i in cursor.description]

i0=[]
for i in cursor:
    i0.append(i)

i0 = np.array(i0)   
    
df = pd.DataFrame(i0,columns=columns)

df=df.sort_values(by='Idade')
df.reset_index(drop=True,inplace=True) 
df.index = df.index + 1     
    
print(df)
    

